@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "arboria";
  src: url("../font/arboria.ttf");
}

body {
  font-family: "arboria";
  background: linear-gradient(70deg, #2f92cf, #87c3e8);
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  max-width: 900px;
}
main {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.btn-primary{
  background: linear-gradient(70deg, #2f92cf, #87c3e8);
  border : none;
}

.container {
    padding: 20;
    padding-top: 40; 
    background-color: #2f2f2f;
    bottom: 0;
    position: fixed;
    height: 650px;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .title-new-container {
    padding: 5;
    color: #fff;
    margin-top : 15%;
    text-align: left;
    font-weight: bold;
    margin-left: 10px
  }

  .title-current-container {
    padding: 5;
    color: #fff;
    margin-top : 15%;
  }

  .title-list-container {
    padding: 5;
    color: #fff;
    margin-top : 15%;
    text-align: left;
    font-weight: bold;
    margin-left: 10px
  }

  .error{
    color : #cc0000;
  }


  .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    margin: auto;
    background-color: #151515;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 110px;
  }

  .table-nav{
    text-align: center; 
    height : 80px; 
    width: 100%; 
    background-color: #151515;
    color : white;
    font-size : 0.8em;
  }

  .table-score{
    width: 100%;
    text-align : center;
    color : #fff;
  }

  .table-action{
    width: 100%;
    text-align : center;
  }

  .label-action{
    color : #fff;
    font-size: 1.8em;
  }

 .btn-action{
    height: 80px;
    width: 150px;
  }

  .btn-action-active{
    outline: 2px solid white;
    outline-offset: 3px;
  }

  .btn-start-match{
    height: 50px;
    width: 100%;
  }

  .btn-start-game{
    height: 50px;
    width: 90%;
  }

.input-player{
    background-color: #2f2f2f;
    border: none;
    border: 1px solid #87c3e8;
    color : #fff;
}

.form-control:focus{
  background-color: #2f2f2f;
  border: none;
  border-bottom: 1px solid #87c3e8;
}
  
.nav-td {
  padding-top: 10px;
  width: 200px;
}


  .active{
	  border-top : 2px solid #87c3e8; 
	  color: #87c3e8
  }
  
  .hidden {
	  
	 display :none;
	 
  }
 