@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #2f92cf;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  max-width: 900px;
}
main {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.btn-primary{
  background-color: #2f92cf;
}

.container {
    padding: 20;
    padding-top: 30; 
    background-color: #2f2f2f;;
    bottom: 0;
    position: fixed;
    height: 700px;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    margin: auto;
    background-color: #151515;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 140px;
  }

  .table-nav{
    text-align: center; 
    height : 80px; 
    width: 100%; 
    background-color: #151515;
    color : white;
    font-size : 0.8em;
  }

.input-player{
    background-color: #2f2f2f;
    border: none;
    border-bottom: 1px solid #2f92cf;
}
  
td {
  padding-top: 10px;
  width: 200px;
}


  .active{
	  border-top : 2px solid #2f92cf; 
	  color: #2f92cf
  }
  
  .hidden {
	  
	 display :none;
	 
  }
 